.todo-item {
  position: relative;
  align-items: center;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 4fr) 1fr;
  margin: 1rem auto;
  width: 90vw;
  border-radius: .5rem;
  min-width: 290px;
  max-width: 800px;
  transition: .3s;
  padding: 1rem 0;
  overflow: hidden;
  text-align: left;

  @media all and (max-width: 492px){
    padding: 0;
  }

  &__check {
    position: relative;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
  }

  span {
    transition: .3s;
    word-wrap: break-word;
    padding: .5rem .5rem 1.5rem;
  }

  .buttons {
    justify-self: end;
    align-self: center;
    padding-right: .5rem;
    text-align: center;
  }

  &--done {
    .loader {
      left: 0;
    }
  }

  input {
    margin: 0 1rem;
  }


}