.todo-subitem {
  width: 25vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 300px) 1fr;
  min-width: 290px;
  max-width: 600px;
  position: relative;
  &__check {
    width: 2rem;
  }

  span {
    margin: 0;
    font-weight: 400;
    height: 1rem;
    display: inline-block;
    padding-bottom: .25rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    word-wrap: break-word;
  }

  input {
    margin: 0 1rem;
    align-self: center;
    height: 1.25rem;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid black;
  }
}