@import "./../../components/TodoItem/todo-item";
@import "./../../components/TodoItem/TodoSubItem/todo-subitem";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

:root {
  box-sizing: border-box;
  font-size: 1rem;

  @media all and (max-width: 414px){
    font-size: .9rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
}

body {
  overflow-x: hidden;
}

.button {
  margin: .5rem;
  cursor: pointer;
  outline: none;

  &--filter {
    background-color: #9593ff;
    color: white;
    font-weight: bold;
    border: none;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    margin-top: 1rem;
    transition: .3s;
    &:active {
      transform: scale(.9);
    }
  }
}

input[type='checkbox'] {
  cursor: pointer;
}

.date {
  position: absolute;
  right: 1rem;
  padding-bottom: .27rem;
  bottom: 0;
  font-size: .8rem;
  color: darkgrey;
  text-align: center;

  @media all and (max-width: 492px){
    left: 50%;
    transform: translateX(-50%);
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: dodgerblue;
  bottom: 0;
  left: -100%;
  transition: .6s ease-in-out;
}

.App {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  color: #282c34;

  h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: white;
    line-height: 1;
    margin: 1rem 0 2rem;
  }

  input {
    font-family: 'Open Sans', sans-serif;
    color: white;

    &::placeholder {
      color: white;
    }
  }

  .main-input {
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 0 0 .5rem 1rem;
    width: 40vw;
    background-color: transparent;
    min-width: 280px;
    max-width: 700px;

  }

  .isDone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @media all and (max-width: 375px) {
      left: 1rem;
    }

    &--todo {
      left: 2rem;
      padding: 0;
    }
  }

  .isDoneCheckbox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0;
    z-index: 2;
    padding-left: 1rem;
    align-self: center;

    &--todo {
      left: 2rem;
      padding: 0;
    }
  }

  .checkSpan {
    height: 1rem;
    width: 1rem;
    padding: 0;
    background-color: transparent;
    border: 1px solid gray;
    position: absolute;
    border-radius: .25rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;

    &--todo {
      left: 2rem;
      padding: 0;
    }
  }
}